body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #000f2e;
    min-height: 100vh;
    color: var(--blue-text);
}

:root {
    --background-header: #000f2e;
    --background-color: #032642;
    --blue-text: #a5f8fe;
    --blue-text-hover: #0fd1ea;
}

h1, h2, h3 {
    font-family: "Readex Pro", Helvetica, Arial, sans-serif;
}
